.btn_container{
    border-radius: 50%;
    border : none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-image: linear-gradient(55deg, silver, black);
    z-index: 1;
    height : 12vh;
    width: 6vw;
    text-align: center;
    display: grid;
    place-items: center;
    position: fixed;
    bottom : 10vh;
    right : 1vw;
    color : white;
}

.btn_container:hover{
    background-color: silver;
}